<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ReverseProxy_Next5" stopProcessing="true">
          <match url="^next5/(.*)" />
          <action type="Rewrite" url="http://localhost:3117/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <proxy enabled="true" />
  </system.webServer>
</configuration>
