<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".ico" mimeType="image/x-icon" />
    </staticContent>

    <rewrite>
      <rules>

        <!-- Root Path -->
        <rule name="Next5 Root" stopProcessing="true">
          <match url="^next5/?$" />
          <action type="Rewrite" url="http://localhost:3117/next5" />
        </rule>

        <!-- _next assets -->
        <rule name="Next5 Assets" stopProcessing="true">
          <match url="^next5/_next/(.*)" />
          <action type="Rewrite" url="http://localhost:3117/_next/{R:1}" />
        </rule>

        <!-- Public static files (from /public) -->
        <rule name="Next5 Static" stopProcessing="true">
          <match url="^next5/static/(.*)" />
          <action type="Rewrite" url="http://localhost:3117/static/{R:1}" />
        </rule>

        <!-- Favicon -->
        <rule name="Favicon" stopProcessing="true">
          <match url="^next5/(favicon\.ico)" />
          <action type="Rewrite" url="http://localhost:3117/next5/{R:1}" />
        </rule>

        <!-- All other routes -->
        <rule name="Next5 All" stopProcessing="true">
          <match url="^next5/(.*)" />
          <action type="Rewrite" url="http://localhost:3117/{R:1}" />
        </rule>

      </rules>
    </rewrite>

    <proxy enabled="true" />
  </system.webServer>
</configuration>
